extends layout

block head
  link(rel='stylesheet', href='/css/header.css')
  link(rel='stylesheet', href='/css/index.css')

block content
  header
    div.logo
      section.container
        div(id="cube")
          figure.front
            img(src="/img/myoblogo.png")
          figure.back
            img(src="/img/myoblogo.png")
          figure.right
            img(src="/img/myoblogo.png")
          figure.left
            img(src="/img/myoblogo.png")
          figure.top
            img(src="/img/myoblogo.png")
          figure.bottom
            img(src="/img/myoblogo.png")
    h2#title #{title}
  section#main.main
    //-h1.comms MYOB IT Inventory
    //- borderbottom
    if err
      div.notification= "Error: " + JSON.stringify(err)
    else
      div#distributiongraph
        div#piechartdist
      div#invtable
        input(placeholder="Search Items").search
        table.inv
          thead
            tr
              th.sort(data-sort="name") Item Name
              th.hidden
              th.sort(data-sort="dtime") Date Added
              th Current Count
              th Desired
              th Difference
              th Difference (%)
              th Item Value (NZD)
              th Total Value (NZD)
          tbody.list
            each row,idx in tabledata
              - var latestData = row.inv[row.inv.length-1];
              - var invdate = new Date(latestData.date).toISOString();
              - var currentCount = parseInt(latestData.currentCount);
              - var desiredCount = parseInt(latestData.desiredCount);
              - var diff = currentCount-desiredCount;
              - function numberWithCommas(x){ return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g,",");}
              tr.invrow.info(id=row._id)
                td.l.name= row.itemName
                td.dtime.hidden= invdate
                td= moment(invdate).format("MMM Do YY")
                td.number= numberWithCommas(currentCount)
                td.number= numberWithCommas(desiredCount)
                td= numberWithCommas((diff > 0) ? "+" + diff : diff)
                td= (desiredCount > 0) ? (currentCount / desiredCount *100-100).toFixed(1)+"%" : "0%"
                td.number= "$"+numberWithCommas(row.itemValue)
                td= "$"+numberWithCommas((parseInt(row.itemValue))*currentCount)
                td.img
                  img.icon.edit(src="/img/pencil-black.png")
                  img.icon.update.hidden(src="/img/save.png")
                td.img.del
                  img.icon.delete(src="/img/trash.png")
              tr.invrow.graph.hide(class="graph-"+row._id)
                td.hidden.l.name= row.itemName
                td.dtime.hidden= invdate
                td(colspan="10")
                  div.graph(idx=idx)
            tbody.add
              tr
                td.l.blank(contenteditable="false",placeholder="Item Name")
                td.blank(contenteditable="false",placeholder="Date Added")
                td.number.blank(contenteditable="false",placeholder="Count")
                td.blank(contenteditable="false",placeholder="Desired Num")
                td.blank
                td.blank
                td.blank(contenteditable="false",placeholder="Item Value")
                td.blank
                td.img
                  img.icon.add(src="/img/add-black.png")
                  img.icon.save.hidden(src="/img/save.png")
      

block scripts
  script(src="/js/custom/list.min.js")
  script(src="/js/custom/moment.min.js")
  //-script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
  script(src="/js/custom/jquery-1.8.2.min.js")
  script(src="/js/custom/highcharts/highcharts.js")
  script(src="/js/custom/highcharts/exporting.js")
  script(src="/js/header.js")
  script(src="/js/index.js")
  script.
    var tabledata = !{JSON.stringify(tabledata)}
    drawPieChart();
    drawGraph();

